/*Reset*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    
}
body {
    background: #f3f3f3;
}
/*Começo do header*/
.header-container {
    display: flex;
    background: url('https://i.imgur.com/OnxSiPt.png');
    height: 50vh;
    background-size: cover;
    justify-content: center;
    align-items: center;
    color: #f3f3f3;
}
.header-texts h1{
    font-size: 5vw;
    text-align: center;
}
.header-texts p {
    font-size: 2vw;

}
.header-texts span {
    color: #0c292f;
}
/*Começo do container no meio*/
.midcontent-container {
    height: 80vh;
    margin: 2vw 2vw 0 2vw;
    border-top-left-radius:  20px;
    border-top-right-radius:  20px;
    border-top: .5px solid rgba(0, 0, 0, .2);
    border-left: .5px solid rgba(0, 0, 0, .2);
    border-right: .5px solid rgba(0, 0, 0, .2);
    background: #ededed;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.midcontent-texts {
    padding: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;

}
.midcontent-texts img {
    padding: 2vw;
    
}
.mid-texts {

    width: 80vw;
}
/* Começo do container inferior*/
.bottomcontent-container {
    height: 80vh;
    margin: 0vw 2vw 0 2vw;
    border-bottom-left-radius:  20px;
    border-bottom-right-radius:  20px;
    border-left: .5px solid rgba(0, 0, 0, .2);
    border-right: .5px solid rgba(0, 0, 0, .2);
    border-bottom: .5px solid rgba(0, 0, 0, .2);
    background: #ededed;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.bottomcontent-texts {
    
    padding: 5vw;
    display: flex;
    border-top: .5px solid rgba(0, 0, 0, .2);
    text-align: center;
    justify-content:space-around;
    align-content: center;
    align-items: center;
   

}
.bottomcontent-texts img {
    padding: 2vw;
    height: 30vw;
    
}
.bottom-texts {
    
    width:80vw;

}
/*Começo do footer*/
.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
    background: #b1b1b1;
}
.footer-container h1 {
    font-size: 2vw;
    padding: 2vw;
    color: #f3f3f3;
}
/* queries*/

/*portrait 800px querie*/
@media screen and (max-width: 800px) {
    
    .header-texts h1 {
        font-size: 10vw;
    }
    .header-texts p {
        font-size: 5vw;
    }
    
    .midcontent-texts {
        flex-direction: column;
        text-align: center;
    }
    .bottomcontent-texts {
        flex-direction: column-reverse;
    }
    .bottomcontent-texts img {
        height:50vh;
    }
}
/*portrait 400px querie*/
@media screen and (max-width: 400px) {
    .header-container {
        background: url('https://i.imgur.com/OnxSiPt.png');
        background-position:90%;
        background-size: cover;
    
    }
    .header-texts p {
        color: #ddc177;
        font-weight: 600;
        
    }

    .midcontent-texts img {
        height: 105vw;
        
    }
    
    .bottomcontent-texts img {
        height:90vw;
    }
    .footer-container h1 {
        content: 'eae';
        font-size: 3vw;
    }
    .footer-container {
        height: 20vw;
        margin-top: 10vw;
    }
}
@media (orientation: landscape) {
    
  .midcontent-texts {
        flex-direction: row;
        text-align: center;
    }
    .bottomcontent-texts {
        flex-direction: row;
    }
    .bottomcontent-texts img {
        height:50vh;
    }
    
}
/* 800px landscape querie*/
@media screen and (max-width: 800px) and (orientation : landscape ){
    
    .header-texts h1 {
        font-size: 10vw;
    }
    .header-texts p {
        font-size: 5vw;
    }
    
    .midcontent-texts {
        flex-direction: row;
        text-align: center;
    }
    .bottomcontent-texts {
        flex-direction: row;
    }
    .midcontent-texts img {
        height: 20vw;
    }
    .bottomcontent-texts img {
        height:20vw;
    }
}
 /* 400px landscape querie*/ 
@media screen and (max-width: 400px) and ( orientation: landscape) {
    .header-container {
        background: url('https://i.imgur.com/OnxSiPt.png');
        background-position:90%;
        background-size: cover;
    
    }
    .header-texts p {
        color: #ddc177;
        font-weight: 600;
        
    }
    .midcontent-texts {
        flex-direction: row;
        text-align: center;
    }
    .bottomcontent-texts {
        flex-direction: row;
    }
    .midcontent-texts img {
        height: 30vw;
        
    }
    
    .bottomcontent-texts img {
        height:30vw;
    }
    .footer-container h1 {

        font-size: 3vw;
    }
    .footer-container {
        height: 20vw;
        margin-top: 10vw;
    }
}
